@import url('https://fonts.googleapis.com/css2?family=Oldenburg&display=swap');

* {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(255, 232, 235);
    background-image: linear-gradient(45deg, rgb(200, 243, 234), rgb(245, 219, 252));
    margin: 2rem;
    height: 100vh;
  }

  .book-wrapper {
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(251, 241, 243);
    border-radius: 12px;
    box-shadow: -8px -8px 32px 2px #00ffea58, 8px 8px 32px 8px #e9bbff87;
  }
  .header {
    justify-content: center;
    align-items: center;
    margin: 24px;
    font-weight: bold;
    text-align: center;
    font-family: 'Oldenburg', cursive;
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    padding: 32px;
  }
  .header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #242027;
  }
  
  .header p {
    margin: 0;
    font-size: 1.5rem;

  }
  .gallery-img {
    display: none;
    max-height: 600px;
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
  }

  .caption {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Oldenburg', cursive;
    font-weight: bold;
    margin: 16px;
    padding: 16px;
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    color: #242027;
    display: none;
  }
  
  .active {
    display: block;
  }
  
  .image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .caption-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    height: 9rem;
  }

  .btns {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 16px;
    max-width: 600px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 32px;
    padding-top: 0;
  }
  
  .btn {
    background-color: #7a5ec9;
    color: white;
    font-size: 20px;
    padding: 1rem;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    border: none;
  }
  
  .prev {
    margin-right: 15px;
  }
  
  
  .btn:disabled {
    background-color: #7b5ec97b;
    color: #dbd0e2;
    cursor: default;
    display: none;
  }

  .btn:hover:not(:disabled) {
    background-color:#694eb4;
   
  }

  .btn:active:not(:disabled) {
    background-image: linear-gradient(45deg, rgba(42, 143, 121, 0.609), #7a5ec9);
  }